body {
  background-color: #f8f6f5;
  color: #1e294b;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

header {
  background-color: #d44949;
  color: #fff;
  height: 15vh;
  position: relative;
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: row;
}

.project-name,
.project-name::placeholder,
.fa-caret-down {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 32px;
}

.project-name:focus {
  outline: 0;
}

.project-name {
  padding-left: 1%;
  width: 100%;
}

.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;
}

.fa-caret-down {
  position: relative;
}

.fa-caret-down:hover .alternate-title {
  display: block;
  position: relative;
  z-index: 999;
}

.alternate-title {
  display: none;
  background-color: #d38181;
  border-bottom: 1px solid #fff;
  font-size: 24px;
  width: 10vw;
}

.button-container {
  bottom: 0;
  position: absolute;
}

.header-button {
  background-color: transparent;
  border: none;
  border-bottom: solid 3px transparent;
  color: #fff;
  font-size: 14px;
}

.header-button:hover {
  border-bottom: solid 3px #fff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 70vh;
  width: 100%;
}

.color-card {
  background-color: #adadad;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.fa-lock-open,
.fa-lock {
  position: absolute;
  bottom: 0;
  background-color: white;
  border: 3px solid #adadad;
  border-color: #adadad;
  color: #adadad;
  font-size: 32px;
  padding: 2px 0 2px 0;
  text-align: center;
  width: 100%;
}

.shuffle {
  background-color: #adadad;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 32px;
}
